# .gitignore
# specific folders

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.csv

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# Environments
.env
*.ipynb_checkpoints/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# IntelliJ
*.idea
